input[type="text"], input[type="password"], textarea {
  font: $dfs $df;
  line-height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  -webkit-font-smoothing: antialiased;
  &:hover, &:focus {
    border:1px solid $input-hover-focus;
  }
}

button {
  outline: none;
  -webkit-font-smoothing: antialiased;
}
