// Basic
body {
	font: $dfs $default-font;
  line-height: $df-line-height;
  -webkit-font-smoothing:antialiased;
	color: $dc;
}

a {
	text-decoration: none;
  &:hover {
    color: $link-hover
  }
}

strong, b { font-weight: bold }

.placeholder { color:$input-placeholder }
