// Defaults
$bg-color: #f1f1f3;
$default-font: $helvetica;
$default-font-size: 16px;
$default-line-height: 20px;
$default-color: #333;



// Buttons
$btn-bg: #3c97e7;
$btn-text: #fff;


// Form Elements
$input-text: #878484;
$input-hover-focus: #333;
$input-placeholder: #bab7b7;


// Links
$link: blue;
$link-hover: tint($link, 15%);
