@mixin hidden {
	visibility: hidden;
	opacity: 0;
}

@mixin visible {
	visibility: visible;
	opacity: 1;
}

@each $direction in top, right, bottom, left {
  .no-padding-#{$direction} {
    padding-#{$direction}:0px !important;
  }
}

@each $direction in top, right, bottom, left {
  .no-margin-#{$direction} {
    margin-#{$direction}:0px !important;
  }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin va-t-y {
	@include position(absolute, 50% null null null);
	@include transform(translateY(-50%));
}

@mixin va-t-x {
	@include position(absolute, null null null 50%);
	@include transform(translateX(-50%));
}

@mixin va-t {
	@include position(absolute, 50% null null 50%);
	@include transform(translateY(-50%) translateX(-50%));
}

@mixin pseudo-element($value:absolute) {
  content:'';
  position: $value;
  z-index:1;
}
