// @include font-face("source-sans-pro", "/fonts/source-sans-pro/source-sans-pro-regular", $file-formats: eot woff2 woff);

// Basic
body {
	font: $df-size $df;
    line-height: $df-line-height;
    -webkit-font-smoothing:antialiased;
	color: $black;
}

a {
	text-decoration: none;
	@include transition(all 150ms);
  &:hover {
    color: $link-hover;
		text-decoration: none;
  }
}

strong, b { font-weight: bold }