@mixin hidden {
	visibility: hidden;
	opacity: 0;
}

@mixin visible {
	visibility: visible;
	opacity: 1;
}

@each $direction in top, right, bottom, left {
  .no-padding-#{$direction} {
    padding-#{$direction}:0px !important;
  }
}

@each $direction in top, right, bottom, left {
  .no-margin-#{$direction} {
    margin-#{$direction}:0px !important;
  }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin va-t-y {
	@include position(absolute, 50% null null null);
	@include transform(translateY(-50%));
}

@mixin va-t-x {
	@include position(absolute, null null null 50%);
	@include transform(translateX(-50%));
}

@mixin va-t {
	@include position(absolute, 50% null null 50%);
	@include transform(translateY(-50%) translateX(-50%));
}

@mixin pseudo-element {
  content:'';
  position: absolute;
  z-index:1;
}

@mixin text-transform($par) {
  text-transform: $par;
}

@mixin mixed-border($size, $type, $color, $dir) {
  @if $dir == ' ' {
    border: $size $type $color;
  } @else if $dir == 'top' {
    border-top: $size $type $color;
  } @else if $dir == 'right' {
    border-right: $size $type $color;
  } @else if $dir == 'bottom' {
    border-bottom: $size $type $color;
  } @else if $dir == 'left' {
    border-left: $size $type $color;
  }
}

@mixin transition($property: all, $duration: 0.3s, $function: ease-in, $delay: 0s) {
  -webkit-transition: $property $duration $function $delay;
  -moz-transition: $property $duration $function $delay;
  -o-transition: $property $duration $function $delay;
  transition: $property $duration $function $delay;
}

@mixin input-placeholder {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }  
  &:-ms-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &.placeholder { @content; }    
}
