// Colors
$black: #333;

// Fonts
$df: $helvetica;

// Defaults
$bg-color: #f1f1f3;
$df-size: 16px;
$df-line-height: 20px;

// Buttons
$btn-bg: #3c97e7;
$btn-text: #fff;

// Links
$link: blue;
$link-hover: tint($link, 15%);

// Sizes
$footer-h:140px;

// Breakpoints
$ipad-landscape: new-breakpoint(min-device-width 768px max-device-width 1024px orientation landscape);
$iphone-landscape: new-breakpoint(min-device-width 375px max-device-width 667px orientation landscape);
$ipad-portrait: new-breakpoint(min-device-width 768px max-device-width 1024px orientation portrait);
$iphone-portrait: new-breakpoint(min-device-width 375px max-device-width 667px orientation portrait);



// Colors
$black: #333;

// Fonts
$df: $helvetica;

// Defaults
$bg-color: #f1f1f3;
$df-size: 16px;
$df-line-height: 20px;

// Buttons
$btn-bg: #3c97e7;
$btn-text: #fff;

// Links
$link: blue;
$link-hover: tint($link, 15%);

// Sizes
$footer-h:140px;

// Breakpoints
$ipad-landscape: new-breakpoint(min-device-width 768px max-device-width 1024px orientation landscape);
$iphone-landscape: new-breakpoint(min-device-width 375px max-device-width 667px orientation landscape);
$ipad-portrait: new-breakpoint(min-device-width 768px max-device-width 1024px orientation portrait);
$iphone-portrait: new-breakpoint(min-device-width 375px max-device-width 667px orientation portrait);
